.card {
    padding: 10px;
    background-color: #8babdf;
    width: 100%;
    margin-top: 10px;
    display: flex;
  }

  .container {
    padding: 2px 16px;
    width: 100%;
  }

  ul  {
    list-style: none;
    padding: 0;
  }